[user]
	name = Shota Tamura
	email = tamura@yuuniworks.com
	# signingkey = 883DAC57AABD43C3
[alias]
  prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -p -L 1 git branch -D
# [gpg]
# 	program = gpg
# [commit]
# 	gpgsign = true
[core]
	editor = vi
	excludesfile = /Users/shota/.gitignore_global
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/shota/.stCommitMsg
