[user]
	name = Shota Tamura
	email = tamura@yuuniworks.com
	signingkey = 883DAC57AABD43C3
[alias]
  prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -p -L 1 git branch -D
[gpg]
	program = gpg
[commit]
	gpgsign = true
